<h1>回答画面</h1>
<div class="card" style="width: 60rem;">
  <div class="card-body">
    <h5 class="card-title">タイトル：<%= @question.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">生徒名：<%=link_to @question.student.name, student_path(@question.student) %></h6>
    <p class="card-text">質問内容：<%= @question.content %></p>
    いいね数：<%= render 'partials/like', question: @question %>
  </div>
</div>

<% if current_teacher %>
  <%= form_with model: @answer do |f| %>
    <%= f.text_area :content %>
    <%= f.hidden_field :question_id, value: @question.id %>
    <%= f.submit '回答する' %>
  <% end %>
<% end %>

<% @question.answers.each do |answer|%>
  <div class="card">
    <div class="card-header">
    回答
    </div>
    <div class="card-body">
      <h5 class="card-title"><%=answer.teacher.name %></h5>
      <p class="card-text"><%=answer.content %></p>
                          <%# <% unless BestAnswer.best_answer_selected?(@question)%> %>
                            <%= form_with model: @best_answer do |f| %>
                              <%= f.hidden_field :question_id, value: @question.id %>
                              <%= f.hidden_field :teacher_id, value: answer.teacher.id %>
                              <%= f.submit 'ベストアンサーに選ぶ' %>
                            <% end %>
                          <%# <% end %> %>
    </div>
  </div>
<% end %>
