<% provide(:title, '先生ランキング') %>
<h1 class="text-gray-800 text-3xl lg:text-3xl font-bold text-center mb-4 md:mb-6 mt-32">Teacher Ranking</h1>
<div class="reviews-list mt-10">
  <% @teachers.each_with_index do |teacher, index| %>
    <%= link_to teacher_path(teacher) do %>
      <div class="w-3/5 m-auto mt-4 text-center">
        <div class="flex flex-col gap-3 py-4 md:py-8 border-b-2">
          <div>
            <span class="text-3xl text-yellow-400 font-bold"><%= "#{index+1}位"%></span>
          </div>
          <div class="flex item-center">
            <% if teacher.avatar.attached? %>
              <%= image_tag teacher.avatar, class: "mx-10 w-40 h-40 rounded-full object-cover object-center" %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1567515004624-219c11d31f2e??auto=format&q=75&fit=crop&w=256" loading="lazy" alt="Photo by Radu Florin" class="mx-10 w-40 h-40 rounded-full object-cover object-center">
            <% end %>
            <div class="mt-6">
              <div">
                <span class="text-3xl"><%= "#{teacher.name}先生" %></span>
              </div>
              <div>
                <span class="text-2xl"><%= "平均点：#{teacher.average_review_score}点" %></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
