<h1>All teachers</h1>
<%= search_form_for @search do |f| %>
  <%= f.label :self_introduction_cont, "キーワード" %>
  <%= f.search_field :self_introduction_cont %>
  <div class="actions"><%= f.submit "検索" %></div>
<% end %>

<ul class="teachers">
  <% @teachers.each do |teacher| %>
    <li>
      <%= link_to teacher.name, teacher %><br>
      <%= teacher.email %><br>
      <%= teacher.self_introduction %>
    </li>
  <% end %>
</ul>
<div class='p-top__paginate'><%= paginate(@teachers) %></div>
