<h1 class="text-gray-800 text-3xl lg:text-3xl font-bold text-center mb-4 md:mb-6 mt-20">Meet Your Teachers</h1>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
    <div class="m-auto text-center">
      <%= search_form_for @search do |f| %>
        <%= f.search_field :self_introduction_cont, placeholder: "キーワードを入力", class: "py-4 px-4 border border-gray-300 rounded w-2/5 h-8" %>
        <div class="my-2 m-auto tracking-wide tracking-wider text-left w-2/5">
          <%= f.label :average_score, '先生レビュー点' %>
          <div>
          <%= f.radio_button :average_score_gt, '',  class:"mr-2" %>指定しない
          <%= f.radio_button :average_score_gt, '1', class:"mr-2" %>1以上
          <%= f.radio_button :average_score_gt, '2', class:"mr-2" %>2以上
          <%= f.radio_button :average_score_gt, '3', class:"mr-2" %>3以上
          <%= f.radio_button :average_score_gt, '4', class:"mr-2" %>4以上
          </div>
        </div>
        <div><%= f.submit "検索", class: "mt-4 text-center w-28 text-white py-2 px-4 rounded-lg bg-purple-700 hover:bg-purple-600 shadow-md font-medium  transition-colors" %></div>
      <% end %>
    </div>
    <div class="grid grid-cols-2 mt-16 md:grid-cols-4 gap-x-4 lg:gap-x-8 gap-y-8 lg:gap-y-12">
      <% @teachers.each do |teacher| %>
        <div class="flex flex-col items-center overflow-hidden">
          <div class="w-24 md:w-32 h-24 md:h-32 bg-gray-100 rounded-full overflow-hidden shadow-lg mb-2 md:mb-4">
            <% if teacher.avatar.attached? %>
              <%= image_tag teacher.avatar, class: "block h-16 sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1567515004624-219c11d31f2e??auto=format&q=75&fit=crop&w=256" loading="lazy" alt="Photo by Radu Florin" class="w-full h-full object-cover object-center" />
            <% end %>
          </div>
          <div>
            <div class="text-indigo-500 md:text-lg font-bold text-center"><%= link_to teacher.name, teacher %></div>
            <p class="text-gray-500 text-sm md:text-base text-center mb-3 md:mb-4"><%= teacher.average_score %></p>
            <p class="text-gray-500 text-sm md:text-base text-center mb-3 md:mb-4"><%= teacher.self_introduction %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='p-top__paginate'><%= paginate(@teachers) %></div>
