<h1 class="text-purple-900 font-bold text-2xl text-center mt-10">プロフィール</h1>
<div class="mt-4 bg-white mx-auto max-w-md shadow-lg rounded-lg overflow-hidden">
  <div class="sm:flex sm:items-center px-4 py-4">
    <div class="w-3/5 text-center sm:text-left sm:flex-grow">
      <div class="mb-4">
        <% if @teacher.avatar.attached? %>
          <%= image_tag @teacher.avatar, class: "w-40 block h-full sm:h-24 rounded-full mx-auto mb-4 sm:mb-0 sm:mr-4 sm:ml-0" %>
        <% else %>
          <img src="https://images.unsplash.com/photo-1567515004624-219c11d31f2e??auto=format&q=75&fit=crop&w=256" loading="lazy" alt="Photo by Radu Florin" class="w-40 h-full object-cover object-center" />
        <% end %>
        <div><p class="text-xl leading-tight"><%=@teacher.name %></p></div>
        <div><p class="text-sm leading-tight text-grey-dark">自己紹介<%=@teacher.self_introduction %></p></div>
        <div><p class="text-sm leading-tight text-grey-dark">回答数</p></div>
        <div><p class="text-sm leading-tight text-grey-dark">評価</p></div>
      </div>
      <div class="text-center">
        <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">Message</button>
        <% if current_student %>
          <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">
            <% if current_student.st_following?(@teacher) %>
              <%= render 'partials/st_unfollow', teacher: @teacher %>
            <% else %>
              <%= render 'partials/st_follow', teacher: @teacher %>
            <% end %>
          </button>
        <% end %>
        <% if current_teacher %>
          <button class="text-xs font-semibold rounded-full px-4 py-1 leading-normal bg-white border border-purple text-purple hover:bg-purple hover:text-white">
            <%= link_to "Edit", edit_teacher_registration_path %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="reviews-list mt-10">
  <h2 class="text-xl font-bold text-center">レビュー一覧</h2>
  <% @teacher.teacher_reviews.limit(5).each do |teacher_review| %>
    <div class="w-2/5 m-auto">
      <div class="flex flex-col gap-3 py-4 md:py-8 border-b-2">
          <div>
            <span class="block text-sm font-bold"><%= teacher_review.student.name %></span>
            <span class="block text-gray-500 text-sm"><%= teacher_review.created_at %></span>
          </div>
          <%= render 'star', teacher: @teacher, teacher_review: teacher_review %>
          <p class="text-gray-600"><%= teacher_review.content %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% if @teacher.teacher_reviews.exists? %>
  <%= link_to teacher_teacher_reviews_path(@teacher), class: "flex items-center justify-center w-3/12 mt-8 cursor-pointer m-auto px-8 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" do %>
    <p>他のレビューを見る</p>
  <% end %>
<% end %>
<%= render 'review_form', teacher: @teacher, teacher_review: @teacher_review %>

<%= javascript_include_tag 'review.js' %>
